body {
    background-color: #555;
    width: auto !important;
    overflow-x: hidden !important;
    font-family: "open sans", sans-serif;
}

footer {
    position: relative;
    min-height: 534px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    padding-bottom: 60px;
}

.address {
    margin-top: 100px;
}

.footer {
    padding: 36px 0;
    position: absolute;
    height: 60px;
    bottom: 0;
}


.footer .social-links {
    position: absolute;
    right: 0;
    margin-top: -16px;
    padding-bottom: 16px;
}

.footer .copyright {
    position: absolute;
    left: 0;
}

@media (min-width: 1200px){
    .footer {
        width: 960px;
    }
}

@media (max-width: 992px){
    .footer {
        position: static;
        text-align: center;
        width: inherit;
        margin: 0;
    }

    .footer .social-links {
        position: static;
        right: auto;
        margin: 16px 0;
    }

    .footer .copyright {
        position: static;
        left: auto;
    }
}

ul.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-links li {
    display: inline;
    padding: 0;
    -webkit-padding-start: 0;
    margin: 12px 16px;
}

ul.social-links li > a:hover {
    text-decoration: none;
}

footer, ul.social-links li > a {
    color: #F7F5F0;
}

#home-nav{
    cursor: pointer;
}

.carousel {

}

.carousel-inner {
    position: relative;
    height: 100vh;
}

.carousel-inner .item{
    height: inherit;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-inner > a.left{
    z-index: 10;
}

.carousel-inner > a.left > span >img{
    z-index: 0;
    width: 73px;
}

.carousel-inner > a.left > span{
    position: absolute;
    top: 50%;
    left: 16px;
}

.carousel-inner > a.right{
    z-index: 10;
}

.carousel-inner > a.right > span >img{
    z-index: 0;
    width: 73px;
}

.carousel-inner > a.right > span{
    position: absolute;
    top: 50%;
    right: 16px;
}
/* 
* migrated image to img tag
.carousel-inner .item {
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 1024px;
}

@media (min-width: 1200){
    .carousel-inner .item {
        min-height: 1024px;
    }
} */
.carousel {
    margin-bottom: 0;
}

.gradient-overlay{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.accent{
    font-family: "bebas-neue", sans-serif;
}

ul.nav{
    font-family: "bebas-neue", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 8px;
    transition: all 0.25s;
}



.brand-logo{
    margin-top: -12px;
}

.navbar-inverse{
    min-height: 72px;
    border-width: 0;
    background-color: transparent;
    margin-bottom: 0;
    color: #F7F5F0;
    transition: all 0.5s;
}

.navbar-crux-default{
    background-color: rgba(64, 64, 66, 0.8);
}

.navbar-inverse .navbar-toggle {
    border: solid 4px #F7F5F0;
    border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse li > a  {
    font-size: 34px;
    color: #F7F5F0;
    padding: 14px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.navbar-inverse li > a:hover  {
    /* color: #404041;
    background-color: #F7F5F0; */
}

.navbar-inverse li:hover  {
    margin: 0 15px;
    border: solid 4px #F7F5F0;
}

.brand-logo {
    height: 192px;
}

.brand-logo.nav-scrolled {
    height: 50px;
}

@media (max-width: 767px){
    .brand-logo {
        content: url(/img/crux-sign.png);
        height: 50px;
    }
}

.nav-hollow-inverse li{
    margin: 4px 19px;
}
.nav-hollow-inverse li.active{
    margin: 0 15px;
    border: solid 4px #F7F5F0;
}

/* about style */

div#about{
    background-color: #404042;
}

div#about > .container > .crux-logo-about-container{
    padding: 0;
}

div#about > .container > .crux-logo-about-container >.crux-logo-about{
    width: 298px;
}

div#about > .container > .about-text-container {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

div#about > .container{
    padding-top: 105px;
    padding-bottom: 180px;
}

div#about > .container > .about-text-container > .about-text{
    font-size: 21px;
    margin-top: 30px;
}

div#about > .container > .about-text-container > h1{
    font-family: "bebas-neue", sans-serif;
}

div#about > .container > .about-text-container > h1#about-caption-first-line{
    font-size: 69px;
    margin-top: 18px;
    margin-bottom: 0px;
}

div#about > .container > .about-text-container > h1#about-caption-second-line{
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 41px;
}

div#about > .container > .about-text-container > p.about-text-note{
    margin-bottom: 0px;
}

div#about > .container > div.crux-logo-about-container{
    line-height: 553px;
}

/*work.html*/
.work-container{
    width: 100%;
    background:#5a5a5b;
    overflow-y: hidden;
    text-align: center;
}

.image-hover{
    position: relative;
    min-height: 179px;
    background-repeat: no-repeat;
}



.caption h1,p{
    padding-top:2px;
    padding-left:15px;
    text-align: left;
}

.image-hover .caption{
    display: none;
    background: rgba(64, 64, 67, .8);
    color: #F7F5F0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

.work-container .col-md-3{
    padding:0;
}

/* for 1200 or less */
.image-hover {
    position: relative;
    min-height: 220px;
    background-repeat: no-repeat;
}
/* work page style */
body#work-page{
    background-color: #f7f5f0;
}

body#work-page > .container{
    padding-top: 80px;
    padding-bottom: 153px;
}

nav#work-navbar {
    border-bottom: 1px solid #413f42;
    background-color: #f7f5f0;
}

nav#work-navbar > .container > .navbar-header > a >img{
    width: 50px;
    height: auto;
}

nav#work-navbar > .container {
    padding-top: 0;
    line-height: 79px;

}

nav#work-navbar > .container > .navbar-header{
    padding-left: 14px;
}

nav#work-navbar > .container > .navbar-right > ul.nav{
    padding-right: 0;
    height: 79px;
}
nav#work-navbar > .container > .navbar-right > ul.nav > li{
    font-size: 30px;
    height: 100%;
    text-align: right;
    font-weight: lighter;
    letter-spacing: 0px;
}
nav#work-navbar > .container > .navbar-right > ul.nav > li > a{
    vertical-align: middle;
    display: inline;
    padding: 0;
    color: #413f42;
}
nav#work-navbar > .container > .navbar-right > ul.nav > li.active > a{
    padding-bottom: 2px;
    border-bottom: 4px solid #413f42;
}
div.work-page-container{
    padding-top: 81px;
}
div.work-page-container > .work-content , div.work-page-container > .work-content > *{
    padding-left: 0;
}
div.work-page-container > .work-content > h1.work-title{
    font-family: "bebas-neue", sans-serif;
    color: #413f42;
    margin: 0;
    font-size: 26px;
}

div.work-page-container > .work-content > p {
    font-size: 15px;
}

div.work-page-container > .work-content > p.work-identity {
    padding-top: 6px
}
div.work-page-container > .work-content > p.divider {
    padding: 8px 0;
    font-size: 18px;
    margin-bottom: 0;
}
div.work-page-container > .work-content > div.work-definition > p{
    padding-top: 8px;
    padding-right: 74px;
    letter-spacing: 0px;
    line-height: 21px;
    padding-left: 0px;
}

div.work-page-container > .work-images{
    padding-left: 7px;
}

div.work-page-container > .work-images > img{
    width: 620px;
    margin:0 auto;
}

div.work-page-container > .work-images > img:not(:first-of-type){
    margin-top: 60px;
}

/*for 992px or less*/
@media screen and (max-width: 992px) {

div.work-page-container > .work-content > div.work-definition > p{
    padding-top: 8px;
    padding-right: 0px;
    letter-spacing: 0px;
    line-height: 21px;
    padding-left: 0px;}

    div.work-page-container > .work-images > img{
    width: 100%; 
    min-height: 150px;
    margin:0 auto;}
}



/* for 772px or less */
@media screen and (max-width: 772px) {
   div.work-page-container > .work-images > img{
    width: 100%; 
    min-height: 150px;
    margin:0 auto;}

    div.work-page-container > .work-content , div.work-page-container > .work-content > *{
    width:100%;}

}


/*footer style*/

footer#work-footer{
    min-height: inherit;
    padding-bottom: 40px;
}

footer#work-footer > .credits-container > p.credits {
    color: #413f42;
    font-size: 16px;
    margin-left: 174px;
}

footer#work-footer > .social-links-content{
    padding-top: 3px;
}

footer#work-footer > .social-links-content > span#fb-link{
    margin-left: 5px;
}

footer#work-footer > .social-links-content > span#behance-link{
    margin-left: 20px;
}

footer#work-footer > .social-links-content > span#behance-link > a > img{
    width: 34px;
    padding-top: 5px;
}

footer#work-footer > .social-links-content > span#fb-link > a > img{
    width: 12px;
}

footer#work-footer > .social-links-content > span#vimeo-link{
    margin-left: 14px;
}

footer#work-footer > .social-links-content > span#vimeo-link > a > img{
    width: 23px;
    padding-top: 5px;
}
/* for 992px or less */
@media screen and (max-width: 992px) {

    .work-container .image-hover{
        width: 33.3333333%;
        float: left;
        min-height: 150px;
    }
    .caption h1{
        font-size:25px;
    }
    .caption p{
        font-size: 11px
    }
}

/* for 768px or less */

@media screen and (max-width: 768px){
    .work-container .image-hover{
        width: 50%;
        min-height: 160px;
        float: left;
    }

    .caption h1{
        padding-top:0;
        font-size:25px;
    }
    .caption p{
        font-size: 11px;
    }

}
/* for 600px or less */
@media screen and (max-width: 600px) {

    .work-container .image-hover{
        width:50%;
        float: left;
        min-height: 130px;
    }

    .caption h1{
        font-size:23px;
    }
    .caption p{
        font-size: 9px;
    }
}

/* for 480px or less */
@media screen and (max-width: 480px) {
    .work-container .image-hover{
        width: 100%;
        float: left;
        min-height: 150px;
    }


    .caption h1{
        font-size:30px;
    }
    .caption p{
        font-size: 14px;
    }
}
 





