body {
    background-color: #555;
}

footer {
    position: relative;
    min-height: 534px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    padding-bottom: 60px;
}

.address {
    margin-top: 100px;
}

.footer {
    padding: 36px 0;
    position: absolute;
    height: 60px;
    bottom: 0;
    width: 960px;
}

@media (max-width: 1200px){
    .footer {
        width: 960px;
    }
}

@media (max-width: 992px){
    .footer {
        position: static;
        text-align: center;
    }

    .footer .social-links {
    position: static;
    right: 0;
    }

    .footer .copyright {
        position: static;
        left: 0;
    }
}

.footer .social-links {
    position: absolute;
    right: 0;
}

.footer .copyright {
    position: absolute;
    left: 0;
}

ul.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-links li {
    display: inline;
    padding: 0;
    -webkit-padding-start: 0;
    margin: 12px 16px;
}

ul.social-links li > a:hover {
    text-decoration: none;
}

footer, ul.social-links li > a {
    color: #F7F5F0;
}

#home-nav{
    cursor: pointer;
}

.carousel-inner .item img{
    width: 100%;
}

/* 
* migrated image to img tag
.carousel-inner .item {
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 1024px;
}

@media (min-width: 1200){
    .carousel-inner .item {
        min-height: 1024px;
    }
} */
.carousel {
    margin-bottom: 0;
}

.gradient-overlay{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.accent{
    font-family: "bebas-neue", sans-serif;
}

ul.nav{
    font-family: "bebas-neue", sans-serif;
}

.container {
    margin: 0 auto;
    width: 960px;
    padding: 8px;
    transition: all 0.25s;
}

@media (max-width: 960px ){
    .container {
        width: 100%
    }
}
div.navbar-brand {
    padding: 8px;
}
.navbar-crux{
    min-height: 72px;
    border-width: 0;
    margin-bottom: 0;
    transition: all 0.5s;
}

.navbar-crux-default{
    background-color: rgba(64, 64, 66, 0.8);
}

.navbar-crux li > a  {
    font-size: 34px;
    color: #F7F5F0;
    padding: 14px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.navbar-crux li > a:hover  {
    /* color: #404041;
    background-color: #F7F5F0; */
}

.navbar-crux li:hover  {
    margin: 0 15px;
    border: solid 4px #F7F5F0;
}


.brand-logo {
    height: 192px;
}

.brand-logo.nav-scrolled {
    height: 50px;
}

.nav-hollow-inverse li{
    margin: 4px 19px;
}
.nav-hollow-inverse li.active{
    margin: 0 15px;
    border: solid 4px #F7F5F0;
}

/* about style */

div#about{
    background-color: #404042;
}

div#about > .container > .crux-logo-about-container{
    padding: 0;
}

div#about > .container > .crux-logo-about-container >.crux-logo-about{
    width: 298px;
}

div#about > .container > .about-text-container {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

div#about > .container{
    padding-top: 105px;
    padding-bottom: 180px;
}

div#about > .container > .about-text-container > .about-text{
    font-size: 21px;
    margin-top: 30px;
}

div#about > .container > .about-text-container > h1{
    font-family: "bebas-neue", sans-serif;
}

div#about > .container > .about-text-container > h1#about-caption-first-line{
    font-size: 69px;
    margin-top: 18px;
    margin-bottom: 0px;
}

div#about > .container > .about-text-container > h1#about-caption-second-line{
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 41px;
}

div#about > .container > .about-text-container > p.about-text-note{
    margin-bottom: 0px;
}

div#about > .container > div.crux-logo-about-container{
    line-height: 553px;
}

/*work.html*/
.work-container{
    width: 100%;
    background:#5a5a5b;
    overflow-y: hidden;
    text-align: center;
}

.image-hover{
    position: relative;
    min-height: 179px;
    background-repeat: no-repeat;
}



.caption h1,p{
    padding-top:2px;
    padding-left:15px;
    text-align: left;
}

.image-hover .caption{
    display: none;
    background: rgba(64, 64, 67, .8);
    color: #F7F5F0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

.work-container .col-md-3{
    padding:0;
}

/* for 1200 or less */
.image-hover {
    position: relative;
    min-height: 220px;
    background-repeat: no-repeat;
}
/* work page style */
body#work-page{
    background-color: #f7f5f0;
}

nav#work-navbar {
    border-bottom: 1px solid #413f42;
    background-color: #f7f5f0;
}

nav#work-navbar > .container > .navbar-header > img{
    width: 50px;
    height: auto;
}

nav#work-navbar > .container {
    padding: 0;
    line-height: 79px;
}

nav#work-navbar > .container > .navbar-header{
    padding-left: 14px;
}

nav#work-navbar > .container > .navbar-right > ul.nav{
    padding-right: 0;
    height: 79px;
}
nav#work-navbar > .container > .navbar-right > ul.nav > li{
    font-size: 30px;
    height: 100%;
    text-align: right;
    font-weight: lighter;
    letter-spacing: 0px;
}
nav#work-navbar > .container > .navbar-right > ul.nav > li > a{
    vertical-align: middle;
    display: inline;
    padding: 0;
    color: #413f42;
}
nav#work-navbar > .container > .navbar-right > ul.nav > li.active > a{
    padding-bottom: 2px;
    border-bottom: 4px solid #413f42;
}

/* for 992px or less */
@media screen and (max-width: 992px) {

    .work-container .image-hover{
        width: 33.3333333%;
        float: left;
        min-height: 150px;
    }
    .caption h1{
        font-size:25px;
    }
      .caption p{
        font-size: 13px
    }
}

/* for 768px or less */

@media screen and (max-width: 768px){
 .work-container .image-hover{
        width: 50%;
        min-height: 130px;
        float: left;
    }

 .caption h1,p{
    padding-top:0px;
    padding-left:8px;
}

 .caption h1{
        font-size:25px;
    }
 .caption p{
        font-size: 13px;
    }

}
/* for 600px or less */
@media screen and (max-width: 600px) {

    .work-container .image-hover{
        width:50%;
        float: left;
        min-height: 130px;
    }

    .caption h1{
        font-size:25px;
    }
    .caption p{
        font-size: 12px;
    }
}

/* for 480px or less */
@media screen and (max-width: 480px) {
    .work-container .image-hover{
        width: 100%;
        float: left;
        min-height: 150px;
    }


    .caption h1{
        font-size:30px;
    }
    .caption p{
        font-size: 14px;
    }
}
 





