#home-nav{
    cursor: pointer;
}

div#gap{
    background:transparent;
    height: calc(100vh + 100px);
    z-index: -2;
}

.caption-content{
    position: relative;
}

.caption-content .work-description{
    position: absolute;
    bottom: 0;
}

.carousel-inner {
    position: relative;
    z-index: 1;
    height: 100vh;
}

.carousel-inner .item > *{
    
    /* height: 100vh;
    width: 100vw; */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #404042;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-container #vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.carousel-inner > a.left{
    z-index: 10;
}

.carousel-inner > a.left > span >img,
.carousel-inner > a.right > span >img{
    z-index: 0;
    width: 50px;
}

.carousel-inner > a.left > span,
.carousel-inner > a.right > span{
    position: absolute;
    top: 50%;
}

.carousel-inner > a.left > span {
    left: 35%;
}

.carousel-inner > a.right > span {
    right: 35%;
}

.carousel-inner > a.right{
    z-index: 10;
}

.carousel {
    margin-bottom: 0;
}

.navbar-inverse{
    min-height: 72px;
    border-width: 0;
    padding: 8px 0;
    background-color: transparent;
    margin-bottom: 0;
    color: #F7F5F0;
    transition: all 0.5s;
}

.navbar-crux-default{
    background-color: rgba(64, 64, 66, 1);
}

.navbar-inverse .navbar-header {
    vertical-align: center;
}

.navbar-inverse .navbar-toggle {
    border: solid 4px #F7F5F0;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse li > a  {
    font-size: 24px;
    letter-spacing: 2px;
    color: #F7F5F0;
    padding: 8px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.nav-hollow-inverse li{
    margin: 2px 17px;
}
.nav-hollow-inverse li.active{
    margin: 0 15px;
    border: solid 2px #F7F5F0;
}

.navbar-inverse li:hover  {
    margin: 0 15px;
    border: solid 2px #F7F5F0;
}

/* about style */

div#about{
    background-color: #404042 !important;
    transform: translateZ(0px);
}

div#about > .container > .crux-logo-about-container{
    padding: 0;
}

div#about > .container > .crux-logo-about-container >.crux-logo-about{
    width: 298px;
}

div#about > .container > .about-text-container {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

div#about > .container{
    padding-top: 105px;
    padding-bottom: 180px;
}

div#about > .container > .about-text-container > .about-text{
    font-size: 21px;
    margin-top: 30px;
}

div#about > .container > .about-text-container > h1{
    font-family: "bebas-neue", sans-serif;
}

div#about > .container > .about-text-container > h1#about-caption-first-line{
    font-size: 69px;
    margin-top: 18px;
    margin-bottom: 0px;
}

div#about > .container > .about-text-container > h1#about-caption-second-line{
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 41px;
}

div#about > .container > .about-text-container > p.about-text-note{
    margin-bottom: 0px;
}

div#about > .container > div.crux-logo-about-container{
    line-height: 553px;
}

/*work.html*/
.work-container{
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    position: fixed;
    top: 72px;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateZ(-1px);
    height: 100vh;
}

.caption h1,p{
    padding-top:2px;
    padding-left:15px;
    text-align: left;
}

.image-hover .caption{
    display: none;
    background: rgba(64, 64, 67, .8);
    color: #F7F5F0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

.caption h1{
    font-size: 25px;
}

.caption p{
    font-size:13px;
}

.work-container .col-md-3{
    padding:0;
}

/* for 1200 or less */
.image-hover {
    position: relative;
    height: calc((100vh - 72px)/3);
    background-repeat: no-repeat;
    background-position: center center;
}

/* for 992px or less */
@media screen and (max-width: 992px) {

    .work-container .image-hover{
        width: 33.3333333%;
        float: left;
    }
    .caption h1{
        font-size:25px;
    }
    .caption p{
        font-size: 11px
    }

    div.crux-logo-about-container{
        text-align: center;
    }
}

/* for 768px or less */

@media screen and (max-width: 768px){
    .work-container .image-hover{
        width: 50%;
        float: left;
    }

    .caption h1{
        padding-top:0;
        font-size:25px;
    }
    .caption p{
        font-size: 11px;
    }

}
/* for 600px or less */
@media screen and (max-width: 600px) {

    .work-container .image-hover{
        width:50%;
        float: left;
    }

    .caption h1{
        font-size:23px;
    }
    .caption p{
        font-size: 9px;
    }
}

/* for 480px or less */
@media screen and (max-width: 480px) {
    .work-container .image-hover{
        width: 100%;
        float: left;
    }


    .caption h1{
        font-size:30px;
    }
    .caption p{
        font-size: 13px;
    }
}

.contact {
    position: relative;
    min-height: 534px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    padding-bottom: 60px;
}
