/* work page style */
body#work-page{
    background-color: #f7f5f0;
}

body#work-page > .container{
    padding-top: 80px;
    padding-bottom: 153px;
    min-height: 100vh; 
    position: relative;
}

nav#work-navbar {
    border-bottom: 1px solid #413f42;
    background-color: #f7f5f0;
}

nav#work-navbar > .container > .navbar-header a > img{
    top: auto;
}

.navbar-header button{
    margin-top:20px;
}

nav#work-navbar > .container > .navbar-header > .navbar-brand{
    height: inherit;  
    padding-top: 0;
    padding-bottom: 0; 
    line-height: 79px;
}

nav#work-navbar > .container {
    padding-top: 0;
    line-height: 79px;
    padding-bottom: 0;
}

nav#work-navbar > .container .navbar-right > ul.nav{
    padding-right: 0;
    padding-right:20px;
}

.navbar-right > ul.nav > li{
    padding:8px;
}

.navbar-right > ul.nav > li a{
    margin:2px 17px;
}

.navbar-right > ul.nav > li a:hover{
    margin:0px 7px;
}
nav#work-navbar > .container .navbar-right > ul.nav > li{
    font-size: 24px;
    height: 100%;
    text-align: right;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 2;
    color: #404041;
   
}
nav#work-navbar > .container .navbar-right > ul.nav > li > a{
    display: inline;
    padding: 0;
    color: #413f42;
}
nav#work-navbar > .container .navbar-right > ul.nav > li > a:hover{
    padding: 8px;
    border: 2px solid #413f42;
    background-color: transparent;
}
div.work-page-container{
    padding-top: 81px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
div.work-page-container > .work-content , div.work-page-container > .work-content > *{
    padding-left: 0;
}
div.work-page-container > .work-content > h1.work-title{
    font-family: "bebas-neue", sans-serif;
    color: #413f42;
    margin: 0;
    font-size: 26px;
}

div.work-page-container > .work-content > p {
    font-size: 15px;
}

div.work-page-container > .work-content > p.work-identity {
    padding-top: 6px
}
div.work-page-container > .work-content > p.divider {
    padding: 8px 0;
    font-size: 18px;
    margin-bottom: 0;
}
div.work-page-container > .work-content > div.work-definition > p{
    padding-top: 8px;
    padding-right: 74px;
    letter-spacing: 0px;
    line-height: 21px;
    padding-left: 0px;

}

.work-images.col-md-8{
    padding-left: 0;
    padding-right: 0;
}

div.work-page-container > .work-images{
    padding-left: 7px;
}

div.work-page-container > .work-images > img{
    width: 620px;
    margin:0 auto;
    float:right;
    padding-right:0;
}

div.work-page-container > .work-images > img:not(:first-of-type){
    margin-top: 60px;
}

/*for 992px or less*/
@media screen and (max-width: 992px) {

div.work-page-container > .work-content > div.work-definition > p{
    padding-top: 8px;
    padding-right: 0px;
    letter-spacing: 0px;
    line-height: 21px;
    padding-left: 0px;}

    div.work-page-container > .work-images > img{
    width: 100%; 
    min-height: 140px;
    margin:0 auto;}

    div.work-page-container{
    padding-top: 20px;
    width: 100%;
}
}  
