<section id="about">
    <div class="container">
        <div class="crux-logo-about-container col-md-4">
            <img class="crux-logo-about" src="/img/crux-sign.png">
        </div>
        <div class="about-text-container col-md-7 col-md-offset-1">
            <p class="about-text">
                More than just a creative team, Crux commits itself to helping people, brands, and
                companies solve problems through design.
            </p>
            <p class="about-text">
                Made up of a young and talented roster of graphic artists, illustrators, photographers,
                and filmmakers, we look to share fresh ideas and produce materials to help forward
                your brand, mission and lifestyle.
            </p>
            <h1>
                More than JUST a team, we’re a movement.*
            </h1>
            <p class="about-text-note">
                *Proficiencies include, but are not limited to, advertising, branding, creative direction,
                typography design, illustration, lettering, motion graphics,
                photography, and video production.
            </p>
        </div>
    </div>
</section>