<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<script src="//use.typekit.net/fmy1dxb.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<link rel="shorcut icon" href="/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="{{ '/css/main.css' }}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
