<footer id="contact" class="clearfix" style="background: url(/img/footer-image-desaturated.jpg);">
  <div class="container">
    <div class="address">
      <h3 class="accent">CRUX DESIGN STUDIO</h3>
      <address>
        Unit G, Upper Penthouse<br>
        252 Senator Gil Puyat Avenue<br>
        Burgundy Corporate Tower<br>
        Makati City<br>
        1200<br>
      </address>
      <address>
        (632) 551 6169
      </address>
      
    </div>
    <div class="footer">
      <div class="copyright pull-left">&copy; Crux Design Studio. Manila. PH.</div>
      <!-- <ul class="social-links pull-right">
             <li><a class="fa fa-facebook fa-2x" href="http://facebook.com"></a></li>
             <li><a class="fa fa-behance fa-2x" href="http://twitter.com"></a></li>
             <li><a class="fa fa-vimeo-square fa-2x" href="http://instagram.com"></a></li>
           </ul>  -->     
    </div>
  </div>
</footer>