<nav class="navbar navbar-fixed-top navbar-crux">
    <div class="container">
        <div class="navbar-header">
            <img src="{{ "/img/crux-logo.png" | prepend: site.baseurl }}" class="brand-logo">
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav nav-hollow-inverse">
                <li class="active"><a href>WORK</a></li>
                <li><a href>CONTACT</a></li>
                <li id="about-nav"><a href>ABOUT</a></li>
            </ul>
        </div>
    </div>
</nav>