<div class="work-container">
	{% for work in site.works %}
		<div class="col-md-3">
			<div class="image-hover" style="background: url({{site.baseurl}}{{work.image}}); background-repeat:no-repeat; background-size: cover;">
				<div class="caption">
					<h4>{{work.title}}</h4>
					<p>{{work.description}}</p>
					<a href="{{work.url}}">READ MORE</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<!-- js for image hover effect -->
<script>
$( document ).ready(function() {
    $("[rel='tooltip']").tooltip();    
 
    $('.image-hover').hover(
        function(){
            $(this).find('.caption').fadeIn(250);
        },
        function(){
            $(this).find('.caption').fadeOut(205);
        }
    ); 
});
</script>