<div class="work-container">

	<div class="col-md-3">
		<img class="img-responsive" src="{{site.baseurl}}/img/work1.png"/>
	</div>

	<div class="col-md-3">
		<img class="img-responsive" src="{{site.baseurl}}/img/work2.png"/>
	</div>

	<div class="col-md-3">	
		<img class="img-responsive" src="{{site.baseurl}}/img/work3.png"/>
	</div>
 
	<div class="col-md-3">
		<img class="img-responsive" src="{{site.baseurl}}/img/work4.png"/>
	</div>

	 <div class="col-md-3">
		<img class="img-responsive" src="{{site.baseurl}}/img/work5.png"/>
	</div>
</div>

<div class="work-container">

	<div class="col-md-3">
		<img class="img-responsive" src="{{site.baseurl}}/img/work6.png"/>
	</div>

	<div class="col-md-3">
		<img class="img-responsive" src="{{site.baseurl}}/img/work7.png"/>
	</div>

	<div class="col-md-3">
		<img class="img-responsive" src="{{site.baseurl}}/img/work8.png"/>
	</div>

	<div class="col-md-3">
		<img class="img-responsive" src="{{site.baseurl}}/img/work9.png"/>
	</div>

    <div class="col-md-3">
		<img class="img-responsive" src="{{site.baseurl}}/img/work10.png"/>
	</div>
</div>	
<!-- 
	<div class="col-md-2">
		<img class="img-responsive" src="{{site.baseurl}}/img/work11.png"/>
	</div>

	<div class="col-md-2">
		<img class="img-responsive" src="{{site.baseurl}}/img/work12.png"/>
	</div>

	<div class="col-md-2">
		<img class="img-responsive" src="{{site.baseurl}}/img/work13.png"/>
	</div>

    <div class="col-md-2">
		<img class="img-responsive" src="{{site.baseurl}}/img/work14.png"/>
	</div>

    <div class="col-md-2">
		<img class="img-responsive" src="{{site.baseurl}}/img/work15.png"/> -->
	</div>
</div>