/* Global Declaration */
.text-center {
    text-align: center;
}



#home-nav{
    cursor: pointer;
}

#work{
    background:transparent;
    height: calc(100vh + 30px);
    z-index: -2;
}



.caption-content .work-description{
    position: absolute;
    bottom: 15px;
}


.carousel-inner {
    position: relative;
    z-index: 3;
    height: 100vh;
}

.carousel-inner .item > *{
    
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #404042;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-container .video-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.carousel-inner > a.left{
    z-index: 10;
}

.carousel-inner > a.left > span >img,
.carousel-inner > a.right > span >img{
    z-index: 0;
    width: 50px;
}

.carousel-inner > a.left > span,
.carousel-inner > a.right > span{
    position: absolute;
    top: 50%;
}

.carousel-inner > a.left > span {
    left: 35%;
}

.carousel-inner > a.right > span {
    right: 35%;
}

.carousel-inner > a.right{
    z-index: 10;
}

.carousel {
    margin-bottom: 0;
}

.navbar-inverse{
    
    border-width: 0;
    background-color: #1D1D1E;
    margin-bottom: 0;
    color: #F7F5F0;
    transition: all 0.5s;

    .navbar-header{
        .navbar-brand{
            a{
                img{
                    transition: all 0.5s;
                    height: 136px;
                }
            }
        }
    }
    #nav-links {
        .navbar-left{
            ul.nav>li>a{
                height: 144px;
                padding: 61px 0 0;
                margin: 0 16px -8px;
                opacity: 0.5;
                &:hover{
                    border-bottom: solid 3px #F7F5F0;
                    opacity: 1;
                }
            }
        }
    }
    &.navbar-crux-default{
        min-height: 36px;
        .container{
            padding: 0 8px 0;
            .navbar-header{
                .navbar-brand{
                    .nav-logo{
                        height: 36px;
                        margin: 0;
                    }
                    &.nav-scrolled{
                        padding:0;
                    }
                }
            }
            #nav-links {
                .navbar-left{
                    ul.nav>li>a{
                        height: 36px;
                        padding: 9px 0 0;
                    }
                }
            }
        }
    }
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse li > a  {
    font-size: 11px;
    letter-spacing: 1px;
    color: #F7F5F0;
    padding: 8px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

/* cover style */
#cover {
    background-image: url('/img/cover.jpg');
    position: relative;
    z-index: 3;
    height: 100vh;
    .content-container{
        padding-top: 20%;
        color: #fff;
        /* text-shadow: 4px 4px 6px rgba(0, 0, 0, .8); */
        h1 {
            font-family: "bebas-neue", sans-serif;
            font-size: 70px;
        }
        p {
            font-size: 19px;
        }
    }
}

/* about style */

#about{
    background-color: #000 !important;
    background-image: url(/img/about-bg.png);
    min-height: calc(100vh - 72px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateZ(0px);
    position: relative;
    z-index: 10;
    padding: 50px;
}

div#about img {
    height: calc(100vh - 72px);
    width: auto;
    padding: 50px inherit;
}


div#about .about-text-container {

    margin: inherit;
    color: white;
}

@media (min-width: 992px){

    div#about .about-text-container {
        margin-top: 45vh;
        color: white;
    }
}

div#about > .about-text-container > .about-text{
    font-size: 16px;
    margin-top: 30px;
}

div#about > .about-text-container > p.about-text-note{
    margin-bottom: 0px;
    font-size: 14px;
}


div#about > div.crux-logo-about-container{
    line-height: 553px;
}

#about .about-calligraphy{
    background-image: url(/img/about-calligraphy.png);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*work.html*/
.work-container{
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 72px);;
}

.caption h1,p{
    padding-top:2px;
    padding-left:15px;
    text-align: left;
}

.image-hover .caption{
    display: none;
    background: rgba(64, 64, 67, .8);
    color: #F7F5F0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

.caption h1{
    font-size: 25px;
}

.caption p{
    font-size:13px;
}

.work-container .col-md-3{
    padding:0;
}

/* for 1200 or less */
.image-hover {
    position: relative;
    height: calc((100vh - 72px)/3);
    background-repeat: no-repeat;
    background-position: center center;
}

/* for 992px or less */
@media screen and (max-width: 992px) {

    .work-container .image-hover{
        width: 33.3333333%;
        float: left;
    }
    .caption h1{
        font-size:25px;
    }
    .caption p{
        font-size: 11px
    }

    div.crux-logo-about-container{
        text-align: center;
    }
}

/* for 768px or less */

@media screen and (max-width: 768px){
    .work-container .image-hover{
        width: 50%;
        float: left;
    }

    .caption h1{
        padding-top:0;
        font-size:25px;
    }
    .caption p{
        font-size: 11px;
    }

}
/* for 600px or less */
@media screen and (max-width: 600px) {

    .work-container .image-hover{
        width:50%;
        float: left;
    }

    .caption h1{
        font-size:23px;
    }
    .caption p{
        font-size: 9px;
    }
}

/* for 480px or less */
@media screen and (max-width: 480px) {
    .work-container .image-hover{
        width: 100%;
        float: left;
    }


    .caption h1{
        font-size:30px;
    }
    .caption p{
        font-size: 13px;
    }
}

.contact {
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    z-index: 1;
}
