<nav id="work-navbar" class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/"> <img src="{{ '/img/workPageImages/cruxSignDark.png' | prepend: site.baseurl }}" class="brand-logo"></a>
        </div>
        <div class="navbar-right col-md-6 clearfix">
            <ul class="nav navbar-nav col-md-12">
                <li class="active col-md-4"><a href>WORK</a></li>
                <li class="col-md-4"><a href>CONTACT</a></li>
                <li class="col-md-4"><a href>ABOUT</a></li>
            </ul>
        </div>
    </div>
</nav>