<nav id="work-navbar" class="navbar navbar-fixed-top navbar-inverse navbar-crux-default">
    <div class="container">
        <div class="navbar-header">
                <div id="home-nav" class="navbar-brand">
                    <a href="/"><img src="{{ '/img/crux-logo-inverse.png' | prepend: site.baseurl }}"></a> 
                </div>  
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>   
        </div>   
        <div class="collapse navbar-collapse" id="nav-links">
                <div class="navbar-left">
                    <ul class="nav navbar-nav">
                        <li><a href="/#work" data-target="#work">WORK</a></li>
                        <li><a href="/#contact" data-target="#work">CONTACT</a></li>
                        <li><a href="/#about" data-target="#work">ABOUT</a></li>
                    </ul>
                </div>
        </div>
                
    </div>
</nav>

