<div class="work-page-container clearfix">
    <div class="work-content col-md-4">
        <h1 class="work-title">
            Aestrea Rebranding
        </h1>
        <p class="work-identity">Identity</p>
        <p class="divider">-</p>
        <p class="work-definition">
            Arume vera sam, optatectem eos-
            tior epratem porpora turiae vendae.
            Int mos enimus dolorum hariatur, si-
            tassit re numque rerspienis exerum,
            vel ipis modigenda nonsequam
            illiqui conem quas natem. Nam
            faccate ssuntia il explant occusae
            sam, sunt perorem. Ne quia custi-
            atate voluptatem audis dit dolupta
            doloreribus.
        </p>
        <p class="work-definition">
            Et proria volo omnisquas derro
            omnimi, te recearchil magnis mole-
            nime desequam, optaten iendiate
            quate volupti dem samus ut uta-
            tionsed mod quia as re peditiore
            culpa nonserovid estio que volupta.
        </p>
    </div>
    <div class="work-images col-md-8 col-sm-4">
        <img src="/img/workPageImages/workPageSampleImage3.png" />
        <img src="/img/workPageImages/workPageSampleImage2.png"/>
        <img src="/img/workPageImages/workPageSampleImage1.png"/>
    </div>
</div>
