<footer id="work-footer" class="clearfix">
    <div class="credits-container col-md-6">
        <p class="credits">© Crux Design Studio. Manila. PH</p>
    </div>
    <div class="social-links-content col-md-3 col-md-offset-3">
        <span id="fb-link"><a href="http://facebook.com"><img src="/img/workPageImages/facebook.png"/> </a></span>
        <span id="behance-link"><a href="http://behance.com"><img src="/img/workPageImages/behance.png"/> </a></span>
        <span id="vimeo-link"><a href="http://vimeo.com"><img src="/img/workPageImages/vimeo.png"/> </a></span>
    </div>
</footer>