<!-- <footer id="work-footer" class="clearfix">
    <div class="credits-container col-md-6">
        <p class="credits">© Crux Design Studio. Manila. PH</p>
    </div>
    <div class="social-links-content col-md-3 col-md-offset-3">
        <span id="fb-link"><a href="http://facebook.com"><img src="/img/workPageImages/facebook.png"/> </a></span>
        <span id="behance-link"><a href="http://behance.com"><img src="/img/workPageImages/behance.png"/> </a></span>
        <span id="vimeo-link"><a href="http://vimeo.com"><img src="/img/workPageImages/vimeo.png"/> </a></span>
    </div>
</footer> -->

<footer id="contact" class="clearfix">
  <div class="container">
    <div class="footer clearfix">
      <ul class="social-links">
        <li><a class="fa fa-facebook fa-2x" href="http://facebook.com"></a></li>
        <li><a class="fa fa-behance fa-2x" href="http://twitter.com"></a></li>
        <li><a class="fa fa-vimeo-square fa-2x" href="http://instagram.com"></a></li>
      </ul>  
      <div class="copyright">&copy; Crux Design Studio. Manila. PH.</div>  
    </div>
  </div>
</footer>