<div id="about" data-stellar-ratio="1">
    <div class="container-fluid">
        <div class="col-md-7 about-calligraphy"></div>
        <div class="about-text-container col-md-5">
            <p class="about-text">
                More than just a creative team, Crux commits itself to helping people, brands, and
                companies solve problems through design.
            </p>
            <p class="about-text">
                Made up of a young and talented roster of graphic artists, illustrators, photographers,
                and filmmakers, we look to share fresh ideas and produce materials to help forward
                your brand, mission and lifestyle.
            </p>
            <p class="about-text-note">
                *Proficiencies include, but are not limited to, advertising, branding, creative direction,
                typography design, illustration, lettering, motion graphics, <br>
                photography, and video production.
            </p>
        </div>
    </div>
</div>