<div id="contact" class="contact clearfix" style="background-image: url(/img/footer-image-desaturated.jpg);">
  <div class="container">
    <div class="address">
      <h3 class="accent">CRUX DESIGN STUDIO</h3>
      <address>
        Unit G, Upper Penthouse<br>
        252 Senator Gil Puyat Avenue<br>
        Burgundy Corporate Tower<br>
        Makati City<br>
        1200<br>
      </address>
      <address>
        (632) 551 6169
      </address>
      
    </div>
    <footer class="footer-inverse">
      {% include footer-contents.html %}
    </footer>
  </div>
</div>

