<footer id="contact" class="clearfix" style="background-image: url(/img/footer-image-desaturated.jpg);">
  <div class="container">
    <div class="address">
      <h3 class="accent">CRUX DESIGN STUDIO</h3>
      <address>
        Unit G, Upper Penthouse<br>
        252 Senator Gil Puyat Avenue<br>
        Burgundy Corporate Tower<br>
        Makati City<br>
        1200<br>
      </address>
      <address>
        (632) 551 6169
      </address>
      
    </div>
    <div class="footer clearfix">
      <ul class="social-links">
        <li><a class="fa fa-facebook fa-2x" href="https://www.facebook.com/cruxPH"></a></li>
        <li><a class="fa fa-behance fa-2x" href="https://www.behance.net/cruxph"></a></li>
        <li><a class="fa fa-vimeo-square fa-2x" href="http://vimeo.com/cruxph"></a></li>
      </ul>  
      <div class="copyright">&copy; Crux Design Studio. Manila. PH.</div>  
    </div>
  </div>
</footer>

