<div id="contact" class="contact clearfix" style="background-image: url(/img/footer-image.jpg);" data-stellar-ratio="0.5">
  <div class="container">
    <div class="address">
      <h3 class="accent">CRUX DESIGN STUDIO</h3>
      <address>
        Unit G, Upper Penthouse<br>
        252 Senator Gil Puyat Avenue<br>
        Burgundy Corporate Tower<br>
        Makati City<br>
        1200<br>
      </address>
        
      <address>
        (632) 551 6169
      </address>

      <address>
        <ul class="social-links">
            {% for media in site.data.social-media %}
              <li>
                <a href="{{ media.url }}" class="social-link" style="background-position: {{ media.image-offset }} 0;" target="_blank"></a>
              </li>
            {% endfor %}
        </ul>
      </address>
      
    </div>
    <footer class="footer-inverse">
      {% include footer-contents.html %}
    </footer>
  </div>
</div>

