<nav class="navbar navbar-fixed-top navbar-inverse clearfix">
    <div class="container">
        <div class="navbar-header">
            <div id="home-nav" class="navbar-brand">
                <a href="/"><img src="{{ '/img/crux-brand-inverse.png' | prepend: site.baseurl }}" class="nav-logo" height="100%"></a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="nav-links">
            <div class="navbar-left">
                <ul class="nav navbar-nav nav-hollow-inverse">
                    <li id="montage-nav"><a href="">MONTAGE</a></li>
                    <li id="work-nav"><a href="">WORK</a></li>
                    <li id="contact-nav"><a class="page-scroll" href="#contact">CONTACT</a></li>
                    <li id="about-nav"><a class="pages-scroll" href="#about">ABOUT</a></li>
                </ul>
            </div>
            <div class="hidden-sm navbar-right">
                <ul class="nav navbar-nav">
                    {% for media in site.data.social-media %}
                      <li>
                        <a href="{{ media.url }}" class="social-link" target="_blank">
                            <img src="{{ media.image }}" height="18px">
                        </a>
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>