<div class="work-container">
	{% for work in site.works limit:12 %}
		<div class="col-md-3">
			<a href="{{work.url}}">
				<div class="image-hover" style="background: url({{site.baseurl}}{{work.feature_image}});background-size: cover; background-position: center center; background-repeat: no-repeat">
					<div class="caption">
                        <div class="caption-content">
    						<h1 class="accent">{{work.title}}</h1>
    						<div class="work-description">
                                <p style="font-size: 2rem; font-family:bebas-neue; margin-bottom:0">-</p>
                                <p>{{work.description}}</p>
                            </div>
                        </div>	
					</div>
				</div>
			</a>
		</div>
	{% endfor %}
</div>

<!-- js for image hover effect -->
<script>
$( document ).ready(function() {
    $("[rel='tooltip']").tooltip();    
 
    $('.image-hover').hover(
        function(){
            $(this).find('.caption').show();
        },
        function(){
            $(this).find('.caption').hide();
        }
    ); 
});
</script>