<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    {% include boilerplate-head.html %}
</head>
  <body>
    <!-- <div id="mock"></div> -->
    {% include front/nav.html %}
    {{ content }}
    {% include front/footer.html %}
    <script src="//use.typekit.net/fmy1dxb.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="{{ "/js/isInViewport.min.js" }}" type="text/javascript"></script>
    <script src="{{ "/js/front.js" }}" type="text/javascript"></script>
  </body>
</html>
