<!DOCTYPE html>
<html>

  {% include head.html %}

  <style>
  #mock{
     opacity: 0.8;
     z-index: 1000;
     position: absolute;
     width: 100%;
     height: 1024px;
     background-image: url('/img/mock.jpg');
     background-position: top center;
     background-repeat: no-repeat;
  }
  </style>

  <body>

    <!-- <div id="mock"></div> -->

    {% include nav.html %}
    {% include front/carousel.html %}
    {% include work.html %}
    {% include footer.html %}

    <!-- <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div> -->
    {% include about.html %}
    <!-- {% include footer.html %} -->

  </body>

</html>
